.image-thumb,
.link-preview-container, .quoted-msg-image {
  opacity: 0.075;
  filter: blur(5px);
  transition: all 300ms;
}

.image-thumb:hover,
.link-preview-container:hover, .quoted-msg-image:hover {
  opacity: 1;
  filter: none;
}
