.image-thumb,
.video-thumb,
._3FDzO,
._3ssLP,
._1umJf,
._3v3PK,
.link-preview-container,
.quoted-msg-image,
.message-image img,
._3fmQw,
._2B3Ci,
._3KBs6,
._18vxA,
._1Bw-K,
.lp3Gs {
  opacity: 0.075;
  filter: blur(5px);
  transition: all 300ms;
}

.image-thumb:hover,
.video-thumb:hover,
._3FDzO:hover,
._3ssLP:hover,
._1umJf:hover,
._3v3PK:hover,
.link-preview-container:hover,
.quoted-msg-image:hover,
.message-image:hover img,
._3fmQw:hover,
._2B3Ci:hover,
._3KBs6:hover,
._18vxA:hover,
._1Bw-K:hover,
.lp3Gs:hover {
  opacity: 1;
  filter: none;
}
