.image-thumb,
.video-thumb,
._3FDzO,
._3ssLP,
._1umJf,
._3v3PK,
._3fmQw,
.link-preview-container,
.quoted-msg-image,
.message-image img {
  opacity: 0.075;
  filter: blur(5px);
  transition: all 300ms;
}

.image-thumb:hover,
.video-thumb:hover,
._3FDzO:hover,
._3ssLP:hover,
._1umJf:hover,
._3v3PK:hover,
._3fmQw:hover,
.link-preview-container:hover,
.quoted-msg-image:hover,
.message-image:hover img {
  opacity: 1;
  filter: none;
}
